#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
.game{
  display: flex;
  justify-content: space-between;
}
.header{
  font-size: 0.8em;
  margin-top: -200px;
}

.addPlayer{
  position:sticky;
  /* margin-top: -900px; */
  margin-left: -1200px;
}
